doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    nav 
        a(href="index.html") About Me |
        a(href="skill.html") Skill |
        a(href="contact.html") Contact Me |
        a(href="portfolio.html") Portfolio
    h1(style='text-align: center') Contact Me
    #container.col
      p
        | Phone : + 66-099-999-9999 
        br
        | Email : thai.codecamp@gmail.com
        br
        | Line ID : codecamp
        br
        | Website : www.codecampthailand.com
        br
        | Address : 99/31 Moo 4 Software Park Building, Chaeng Wattana Road, Klong Gleua, Pakkred, Nonthaburi 11120
