doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    nav 
        a(href="index.html") About Me |
        a(href="skill.html") Skill |
        a(href="contact.html") Contact Me |
        a(href="portfolio.html") Portfolio
    h1(style='text-align: center') About Me
    #container.col
      img(src='/me.jpg' style='margin: auto; width: 200px; height: 200px; display: block;')
      p(style='text-indent: 2em') Experience gained in Information Technology with strong background in system design engineer. Implement automation control system with a full options that relied on customer requirements. Excellent in a variety of system design under complex requirements. Well-practiced in system analysis and some of programming knowledge.